.wrapper{
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(#ed5f47, #fe2d3b);
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 0px 0px 30px 0px;
    width: 100%;
}

header ul{
    margin-top: 40px;
}
header ul li{
    list-style: none;
}
header .logo img{
    height: 90px;
}
header ul.nav {
    display: flex;
    padding-left: 40px;
    justify-content: space-around;
    box-sizing: border-box;
    margin-right: 175px;
}
header ul.nav-2{
    display: flex;
    justify-content: space-between;    
}
header ul.nav-2 li:first-child a{
    font-size: 26px;
    position: relative;
    bottom: 3px;
}
header ul.nav-2 li:nth-child(2) a{
    letter-spacing: 10px;
}
header ul.nav-2 li:last-child a{
    position: relative;
}
header ul.nav-2 li:last-child a span {
    position: relative;
    display: flex;
    background-color: black;
    width: 14px;
    height: 14px;
    bottom: 22px;
    left: 42px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: .7em;
}
header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 8.7px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}


/* MAIN JORDAN SECTION */
section{
    padding: 8em 0em 12em 0em;
}

section .air-jordan {
    height: 360px;
    position: relative;
    font-family: 'Gotham';
    font-style: italic;
    color: #fff;
    left: 10px;
    bottom: 52px;
}

section .air-jordan h1 {
    text-transform: uppercase;
    font-size: 8em;
    float: right;
    letter-spacing: 2px;
}

section .air-jordan h1::before{
    content: " \" ";
    font-size: 0.15em;
    position: absolute;
    top: 1em;
}

section .air-jordan h1::after{
    content: " \" ";
    font-size: 0.15em;
    position: absolute;
    bottom: 4.3em;
    right: 0.7em;
}

section .air-jordan h2{
    float: right;
    font-size: 2.1em;
    position: relative;
    bottom: .3em;
    right: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

section .air-jordan img {
    position: absolute;
    bottom: 4em;
    right: -0.3em;
    height: 23em;
    transform: rotate(-20deg);
}


/* DESCRIPTION SECTION */

section .air-jordan-info {
    bottom: 70px;
    position: relative;
    left: 15%;
}

section .air-jordan-info .brand{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 2em;
}

section .air-jordan-info .brand .brand-name h1{
    text-transform: uppercase;
    padding-right: 30px;
    font-size: 3em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

section .air-jordan-info .brand .stars ul{
    display: flex;
}

section .air-jordan-info .brand .stars ul li{
    list-style-type: none;
    color: rgb(247, 202, 0);
    margin-right: 3px;
    font-size: 1.2em;
}

section .air-jordan-info .brand .stars ul li:last-child{
    color: #fff;
}

section .air-jordan-info .brand .jordan-details{
    width: 90%;
}

section .air-jordan-info .jordan-details .category {
    margin-bottom: 10px;
}

section .air-jordan-info .jordan-details a{
    color: #fff;
    text-transform: capitalize;
    font-size: .8em;
    text-decoration: none;
    display: block;
    font-family: 'Mada', sans-serif;
}

section .air-jordan-info .jordan-details .jordan-name h2{
    color: #fff;
    text-transform: capitalize;
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .5em;
    font-weight: 600;
}

section .air-jordan-info .jordan-details .jordan-description p{
    color: #fff;
    font-family: 'Mada', sans-serif;
    margin-bottom: 1.2em;
    font-size: .8em;
    line-height: 1.6em;
    width: 80%;
}

section .air-jordan-info .jordan-details .jordan-description ul{
    padding-left: 1em;
    color: #fff;
    margin-bottom: 1.2em;
    font-size: .8em;
}

section .air-jordan-info .jordan-details .jordan-description ul li{
    font-family: 'Mada', sans-serif;
    font-size: .8em;
    line-height: 1.6em;
}

section .air-jordan-info .jordan-details .jordan-description a{
    text-decoration: underline;
}

section .air-jordan-info .jordan-size-selection{
    position: relative;
    margin: 1.5em 0px;
}

section .air-jordan-info .jordan-size-selection i{
    color: gold;
    font-size: 1.2em;
}

section .air-jordan-info .jordan-size-selection select{
    appearance: listbox;
    -webkit-appearance: listbox;
    padding: 10px 0px;
    border: none;
    background: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
}

section .air-jordan-info .jordan-size-selection select option{
    color: #fe2d3b;
    font-weight: 500;
}

section .air-jordan-info .btn-and-price{
    display: flex;
    align-items: center;
}

section .air-jordan-info .btn-and-price button{
    border: 2px solid #fff;
    padding: 10px 30px;
    background: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: .42em;
    font-weight: 800;
    letter-spacing: .4em;
    color: #fff;
}

section .air-jordan-info .btn-and-price h1.price{
    color: #fff;
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2.3em;
    letter-spacing: .1em;
}


/* FOOTER SECTION */

.swoosh-footer{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.swoosh-footer img {
    position: relative;
    top: 13em;
    height: 450px;
    left: 16%;
}

.swoosh-footer h1 {
    float: right;
    color: #fff;
    position: relative;
    top: 12.5em;
    font-size: 2em;
    letter-spacing: .1em;
    font-family: 'Montserrat', sans-serif;
    left: 1.6em;
}

/* MEDIA QUERIES */


    @media screen and (min-width: 1024px) and (max-width: 1024px){
        
        section .air-jordan h2{
            position: relative;
            left: 12em;
            font-size: 2.1em;
            top: 7.3em;
        }
    }

    @media screen and (max-width: 1024px){
        
        .wrapper{
            height: 100%
        }
        
        header{
            padding-top: 0;
        }
    
        header ul.nav{
            padding-left: 0;
            margin: 0;
        }
        
        header ul.nav li{
            margin: 10px 0;
            text-align: center;
            width: 20%;
        }
    
        header .logo img {
            height: 80px;
            position: relative;
            left: 45%;
            margin: 10px auto 0;
        }
        
        .air-jordan, .air-jordan-info{
            width: 100%;
        }

        section .air-jordan {
            left: -86px;
            padding-top: 20px;
        }
    
        section .air-jordan h1{
            position: relative;
            right: 15%;
        }
    
        section .air-jordan img{
            right: 15%;
        }
        
        section .air-jordan h2 {
            position: relative;
            right: 4.6em;
            font-size: 2.1em;
        }
    
        section .air-jordan h1::after{
            right: 0.7em;
            top: 13em;
        }
        
        section .air-jordan-info{
            padding: 2.5em;
        }
        
        section .air-jordan-info .jordan-details .jordan-description p{
            width: 40%;
        }
    
        .swoosh-footer img {
            top: 19.5em;
            height: 40em;
            left: 10%;
        }
        
    }

    @media screen and (max-width: 775px){
        
        .wrapper{
            height: 100%
        }
        
        header{
            padding-top: 0;
        }
    
        header ul.nav{
            padding-left: 0;
            margin: 0;
        }
        
        header ul.nav li{
            margin: 10px 0;
            text-align: center;
            width: 20%;
        }
    
        header .logo img {
            height: 80px;
            position: relative;
            left: 45%;
            margin: 10px auto 0;
        }
        
        .air-jordan, .air-jordan-info{
            width: 100%;
        }

        section .air-jordan{
            left: 0;
        }
    
        section .air-jordan h1{
            position: relative;
            right: 15%;
        }
    
        section .air-jordan img{
            right: 15%;
        }
        
        section .air-jordan h2 {
            position: relative;
            right: 4.6em;
            right: 3.8em;
            font-size: 2.5em;
        }

    
        section .air-jordan h1::after{
            right: 0.7em;
            top: 13em;
        }
        
        section .air-jordan-info{
            padding: 2.5em;
        }
        
        section .air-jordan-info .jordan-details .jordan-description p{
            width: 40%;
        }
    
        .swoosh-footer img {
            top: 20.3em;
            height: 40em;
            left: 10%;
        }
        
    }

@media screen and (max-width: 550px){
    section .air-jordan{
        left: 26px;
    }
    
    section .air-jordan img {
        bottom: 8em;
        right: 4em;
        height: 18em;
    }

    section .air-jordan h1 {
        text-transform: uppercase;
        font-size: 6em;
        float: right;
        letter-spacing: 2px;
    }

    section .air-jordan-info{
        padding: 0;
        left: 19%;
    }

    section .air-jordan h2 {
        font-size: 1.4em;
        right: 4.7em;
    }

    .swoosh-footer img {
        top: 14.7em;
        height: 27em;
        left: 10%;
    }
}
/* MOBILES */
@media screen and (max-width: 480px){
    
    .wrapper{
        height: 100%;
    }
    .air-jordan, .air-jordan-info{
        width: 100%;
    }
    
    section{
        padding-top: 5em;
    }
    
    section .air-jordan{
        left: 15%;
    }
    
    section .air-jordan h1{
        font-size: 4.6em;
        letter-spacing: 2px;
    }
    
    section .air-jordan img{
        bottom: 11em;
        height: 13.6em;
        right: 14%;
    }
    
    section .air-jordan h2{
        font-size: 1em;
        bottom: 0.1em;
        right: 4.8em;
    }
    
    section .air-jordan-info{
        bottom: 5em;
        padding: 0;
    }
    
    section .air-jordan-info .brand{
        margin-bottom: 1.3em;
    }
    
    section .air-jordan-info .brand .brand-name h1 {
        font-size: 2em;
    }

    section .air-jordan-info .jordan-details .jordan-description p {
        width: 60%;
    }

    .swoosh-footer img {
        top: 11.3em;
        height: 20em;
    }
}

@media screen and (min-width: 280px) and (max-width: 320px){
    section .air-jordan h1 {
        font-size: 3.8em;
        letter-spacing: 1px;
    }

    section .air-jordan img {
        bottom: 13em;
        height: 11.5em;
        right: 2em;
    }

    section .air-jordan-info {
        bottom: 9em;
        padding: 0;
    }

    section .air-jordan-info .brand .brand-name h1 {
        font-size: 1.6em;
        padding-right: 25px;
    }

    section .air-jordan-info .brand .stars {
        font-size: 13px;
    }

    section .air-jordan-info .jordan-details .jordan-name h2 {
        font-size: 1.3em;
    }

    section .air-jordan-info .jordan-details .jordan-description p {
        width: 80%;
    }

    section .air-jordan-info .btn-and-price h1.price {
        font-size: 1.3em;
        margin-left: 1em;
    }

    .swoosh-footer img {
        top: 10.3em;
        height: 18em;
    }
}